
* {
  box-sizing: border-box;
}

:root {
  --headerHorizontalMargin: 2vw;
  --headerVerticalMargin: 2vh;
  --highlightColor: 255, 136, 0;
  --textColor: rgb(255, 255, 255);
  --blur: 50px;
  --generalBackgroundColor: 35, 35, 35;
  --regularTextSize: 1rem;
  
  scrollbar-color: rgba(0, 0, 0, 0.712) rgb(var(--generalBackgroundColor));
  scrollbar-width: thin;
}

.contentH2Title {
  font-size: 1.75rem;
  color: rgb(255, 136, 0);
}

.contextText {
  opacity: 0.5;
}

p.simpleParagraph {
  font-size: var(--regularTextSize);
  line-height: 1.5;
  letter-spacing: 0.025rem;
}

.boldParagraphText {
  font-weight: bold;
  word-break: normal;
  white-space: normal;
  display: inline;
  line-height: inherit;
}

/* HEADER */

.header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  /*backdrop-filter: blur(var(--blur));*/
  background-color: rgb(var(--generalBackgroundColor));
}

.header span, .header a {
  float: right;
  display: block;
  text-align: center;
  margin-right: var(--headerHorizontalMargin);
  margin-top: var(--headerVerticalMargin);
  margin-bottom: var(--headerVerticalMargin);
  text-decoration: none;
  color: var(--textColor);
  overflow: hidden;
  cursor: pointer;
}

.header span.headerOpposite, .header a.headerOpposite {
  float: left;
  margin-left: var(--headerHorizontalMargin);;
}

.header span:hover, .header a:hover {
  color: rgb(var(--highlightColor));
}

/* HERO */

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 33vh;
  width: 100%;
  color: var(--textColor);
  overflow: hidden;
}

.hero h1 {
  font-size: 6rem;
}

#highlightText {
  color: rgb(var(--highlightColor));
}