
:root {
    --backgroundHeightOffset: -40%;
    --fadeBackgroundColor: rgba(0, 0, 0, 0.849);
    --fadeBackgroundColorGoal: rgba(0, 0, 0, 0);
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  
    min-height: 100vh;
  
    background-color: #212121;
    color: var(--textColor);
    font-family: Montserrat, Geist, sans-serif;
    font-weight: normal;
    overflow-x: hidden;
}

.background {
    position: absolute;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    inset: 0;
}

.backgroundImage {
    position: absolute;
    width: 100%;
    transform: translate(0%, var(--backgroundHeightOffset));

    &.reflection {
        transform: translate(0%, calc(100% + var(--backgroundHeightOffset))) rotate(180deg) scaleX(-1);
    }
}

.container {
    position: relative;
    width: 100%;
    /*padding: 10vh 5vw; STYLE_1 */
    overflow: hidden;
}

.content {
    margin-top: 0%;
    margin-bottom: 0%;
    width: 100%;
    
    backdrop-filter: blur(var(--blur));
    background-image: linear-gradient(to top, var(--fadeBackgroundColor), var(--fadeBackgroundColorGoal));
}

.section {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 2vh 15vw; /* 1vh 10vw STYLE_1 */
    background: rgba(48, 48, 48, 0.473);

    &.gameHero {
        height: 40vh;
        background: none;
    }

    &.spacer {
        height: 10vh;
    }
}

.gameHeroImage {
    margin-top: auto;
}

.sectionWrapper {
    display: flex;
    flex-wrap: wrap;
    box-shadow: 0vw 0vw 20px 0px rgba(0, 0, 0, 0.5);
}

/* Handles horizontal layout inside each section */
.vertical-container {
    display: flex;
    justify-content: center; /* Center contents horizontally */
    /*align-items: center; Align vertically */
    flex-wrap: wrap; /* Wraps if needed */
    width: 100%;

    background: rgba(var(--generalBackgroundColor), 0.7);

    &.backgroundless {
        background: rgba(var(--generalBackgroundColor), 0.0);
    }
}

/* Individual vertical sections */
.vertical-section {
    /*flex: 1;*/ /* Makes each section take equal width */
    padding: 1vh 2vw;
    text-align: left;
}

/* If there's only one vertical section, center it */
.vertical-container:has(.vertical-section:only-child) {
    justify-content: center;
}

.video {
    width: 40%;
    aspect-ratio: 16 / 9;
}

.titledListContainer {
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
    gap: 2.5vh;
}

.titledListRow {
    display: flex;
    gap: 2.5vh;
    align-items: baseline;
}

.titledListTitle {
    flex: 0 0 10vw;
    text-align: center;
    white-space: nowrap;
    background-color: rgba(255, 136, 0, 0.253);
    border-radius: 100px;
}  