
:root {
    --backgroundHeightOffset: -40%;
    --backgroundColor: rgba(0, 0, 0, 0.849);
    --backgroundColorGoal: rgba(0, 0, 0, 0);
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  
    min-height: 100vh;
  
    background-color: #212121;
    user-select: none;
    color:  var(--textColor);
    font-family: Montserrat, Geist, sans-serif;
    font-weight: normal;
    overflow-x: hidden;
}

.background {
    position: absolute;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    inset: 0;
}

.backgroundImage {
    position: absolute;
    transform: translate(0%, var(--backgroundHeightOffset));

    &.reflection {
        transform: translate(0%, calc(100% + var(--backgroundHeightOffset))) rotate(180deg) scaleX(-1);
    }
}

.container {
    position: relative;
    background-color: rgba(255, 0, 0, 0.267);
    width: 100%;
    padding: 10vh 5vw;
    overflow: hidden;
}

.content {
    margin-top: 5%;
    margin-bottom: 0%;
    width: 100%;
    
    backdrop-filter: blur(50px);
    background-image: linear-gradient(to top, var(--backgroundColor), var(--backgroundColorGoal));
}

.section {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 1vh 5vw;
    background: rgba(54, 54, 54, 0.473);

    &.gameHero {
        background: none;
    }

    &.spacer {
        height: 10vh;
    }
}

/* Handles horizontal layout inside each section */
.vertical-container {
    display: flex;
    justify-content: center; /* Center contents horizontally */
    align-items: center; /* Align vertically */
    flex-wrap: wrap; /* Wraps if needed */
    width: 100%;
}

/* Individual vertical sections */
.vertical-section {
    flex: 1; /* Makes each section take equal width */
    padding: 2vh;
    background: rgba(32, 32, 32, 0.842);
    text-align: center;
}

/* If there's only one vertical section, center it */
.vertical-container:has(.vertical-section:only-child) {
    justify-content: center;
}